{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<div class="about-section">
      <h2>About Our Sneaker Store</h2>
      
      <p>
            
About Our Founder:

Meet Dennis, the passionate sneaker enthusiast who turned him love for sneakers into a thriving business. Dennis' journey with sneakers began at a young age when he would spend hours admiring the latest releases and collecting rare pairs.
Driven by her passion for sneakers and a desire to share him love for footwear with the world, Dennis decided to start his own sneaker selling business. What started as a small collection of sneakers in his bedroom quickly grew into a full-fledged online store, offering a curated selection of the latest trends and classic favorites.
Dennis' dedication to providing top-quality sneakers, personalized customer service, and a seamless shopping experience has earned him a loyal following of sneaker enthusiasts from around the globe. With a keen eye for style and a commitment to authenticity, Dennis continues to source the best sneakers and deliver them to his customers with passion and care.
Join Dennis on this exciting journey through the world of sneakers, where style meets comfort, and individuality shines through every step.
</p>
</div>
<div class="slide">
      <img src="{% static 'websiteimages/j9.jpg' %}" alt=""></div>
</body>
</html>