{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
      <div class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'inquiries' %}">Inquiries</a>
            <a href="{% url 'signup' %}">Sign In</a>
            <a href="{% url 'login' %}">Log In</a>
      </div>
      {% block content %}{% endblock content %}
</body>
</html>